<launch>

  <node type="stageros" name="stage_sim" pkg="stage_ros" args="-d $(find ros_pa2)/world/playground.world" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ros_pa2)/include/config/config.rviz" />
  

  <node type="sensor_sub.py" name="sensor_sub" pkg="ros_pa2" output="screen" >
  </node>
  <rosparam>
    goalx: 4.5
    goaly: 9.0
  </rosparam>
 
</launch>